<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html style="margin: 0 auto !important; width: 66%;" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Apollo - Addendum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="font-family: 'Montserrat', sans-serif; padding: 0; margin: 0; text-align: center;">
    <main style="height: calc(100vh); min-height: 365px; padding: 3%;">
        <table align="center" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
            <tr>
                <td align="center"">
                    <img src="https://apollo.identidadtech.com/Content/Assets/img/logo.svg" alt="Apollo - Addendum" style="display: block;" width="30%" />
                </td>
            </tr>
            <tr>
                <td style="padding: 30px 10px 40px 10px;">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="text-align:center;">
                                <h1 style="color: #999999;margin: 6vh 0.5vw;font-size: 24px;text-align: center; font-weight:400;">
                                    Informative Message!
                                </h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="color: #555;font-size: 15px;font-weight: 400;text-align:center;">
                                    [message]
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" style="padding: 20px 0px 10px 0px; color: #AAAAAA">
                    <img src="https://apollo.identidadtech.com/Content/Assets/img/identidad-voice-logo.png" alt="Apollo - Addendum" style="display: block;" width="50%" />
                    <br />
                    Identidad Technologies Company. © All Rights reserved.
                    <p style="font-size: 12px;">identidadtech.com </p>
                </td>
            </tr>
        </table>
    </main>
</body>
</html>
